.app {
  background:#081a33;
  min-height:100vh;
  color:white;
  font-family:Arial;
}

.header {
  text-align:center;
  color:#4da3ff;
}

.card {
  background:#0f2a4d;
  margin:10px;
  padding:15px;
  border-radius:15px;
}

.menu button {
  margin:10px;
  padding:15px;
  background:#1e5eff;
  border:none;
  color:white;
  border-radius:10px;
}

.boxBlue {
  background:#163a66;
  padding:10px;
  margin:10px 0;
  border-radius:10px;
}